<div class="jumbotron">
    <h1>Listify v1</h1>
    <p class="lead">We took something extremely simple and made it difficult to make it easier for you.</p>
    @Html.ActionLink("Get Started", "Documentation", "Home", null, new { @class = "btn btn-primary btn-lg" })
    @Html.ActionLink("Run Test", "TestInput", "Home", null, new { @class = "btn btn-success btn-lg" })
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Find By Index</h2>
        <p>Everyone always asks, what is the index of a range but no one ever asks <i>How to find the index of a range?</i></p>
    </div>
    <div class="col-md-4">
        <h2>Easily Integrate</h2>
        <p>Unlike 100% of all API documentation, our documentation <i>actually</i> works 50% of the time.</p>
    </div>
    <div class="col-md-4">
        <h2>Is it right?</h2>
        <p>We can't be sure if this is the right solution to the coding assessment because asking Vic questions seems like cheating the assessment but we can guarantee it does something.</p>
    </div>
</div>
